.book{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}
.bookimg{
    flex: 0 0 100px;
    margin-right: 20px;
}
.bookimg img{
    display: block;
    max-width: 100px;
    height: auto;
}
.Bookinfo{
    flex:  1 ;

}
.author
{
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}
.price{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;

}
button{
    background-color: #f0c14b;
    border-color:#a88734 #9c7e31  #846a29;
    color: #111;
    padding: 8px 10px;
    border-radius: 3px;
    font-size: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}